
/* Shared Styles */
.max-width{
    max-width: 1140px;
}

.margin-center{
    margin: 0 auto;
}

.display-flex{
    display: flex;
}

.text-center{
    text-align: center;
}

/* Colors */
.orange-color{
    color: rgba(233, 90, 8, 1);
}

.border{
    border: 3px solid steelblue;
}


/* Navbar Styles */
body{
    background-color: rgba(245, 248, 255, 1);
}
.navbar{
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;
}

.nav-link{
    gap: 3rem;
    font-size: 1rem;
}

.nav-link li{
    list-style: none;
}

.nav-link a{
    color: black;
    text-decoration: none;
}
/* Banner Styles */

.banner-title{
    font-size: 4rem;
    margin-bottom: 0;
}
.banner-description{
    margin-bottom: 0;
    margin-top: 0.8rem;
    font-family: 1.375rem;
}
/* .banner-text-decoration{
    
} */

/* Our plants styles */
.our-plants{
    margin-top: 120px;
}
.our-plants-title{
    font-size: 3.125rem;
    margin-bottom: 16px;
    margin-top: 0;
}
.our-plants-description{
    width: 888px;
    font-size: 1.375rem;
}

/* .our-plants-cards-container{
    width: 270px;
    height: 485px;
} */
 .plant-card-image img{
    width: 100%;
 }

.plant-card-title{
    font-size: 1.375rem;
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: 500;

}

.plant-card-price{
    margin-top: 20px;
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.our-plants-cards-container{
    margin-top: 49px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 20px;
}
.plant-card-button{
    margin: 0;
    width: 100%;
    height: 50px;
    color: white;
    background-color: rgba(233, 90, 8, 1);
    border: none;
    font-size: 1rem;
    font-weight: 600;
}

/* Plants lover style */
.plants-lover{
    align-items: center;
    margin-top: 210px;
    gap: 60px;
    margin-bottom: 134px;
}
.plants-lover-trusted-badge img{
    width: 286px;
}
.plants-lover-image-container{
   position: relative; 
}
.plants-lover-trusted-badge{
    position: absolute;
    top: -127px;
    left: 347px;
    filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25));
    
}
.plants-lover-title{
    font-size: 3.125rem;
    font-weight: 700;
    margin: 0;
}
.plants-lover-list li{
    font-size: 1.375rem;
    margin-top: 20px;
    margin-bottom: 0;
}

/* Latest Deal Styles */


/* Responsive website */

/* Mobile Device */
@media screen and (max-width: 576px) {
    /* navbar mobile styles */
    .navbar{
        /* justify-content: center; */
        margin-bottom: 28px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .desktop-navbar{
        display: none;
    }
    /* Banner mobile styles */
    .banner{
        flex-direction: column-reverse;
    }
    .banner-image img{
        max-width: 100%;
        height: auto;
    }
    .banner-title{
        font-size: 1.5rem;
    }
    .banner-description{
        font-size: 0.875rem;
    }
    .banner-image{
        width: 100%;
    }

    /* Mobile Our plants style */
    .plants-lover{
        margin-top: 41.5px;
        display: block;
        margin-bottom: 143px;
    }
    .plants-lover-trusted-badge{
        display: none;
    }
    .plants-lover-image-container{
        margin-bottom: 18px;
    }
    .our-plants-description{
        width: 100%;
    }
    .plants-lover-title-break{
        display: none;
    }
    .our-plants-cards-container{
        grid-template-columns: repeat(2, 1fr);
        margin: 28px auto 0;
    }

    /* Mobile Latest deal style */
}
